<!-- <h1 mat-dialog-title>Editar curso - {{ curso.nombre }}</h1>
<div mat-dialog-content>
    <form [formGroup]="formulario" (ngSubmit)="editarCurso()">
        <div class="row">
            <mat-form-field class="col-md-6">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <mat-label>Comision</mat-label>
                <input matInput formControlName="comision">
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <mat-label>Fecha Inicio</mat-label>
                <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio">
                <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                <mat-datepicker #fechaInicio></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <mat-label>Fecha Fin</mat-label>
                <input matInput [matDatepicker]="fechaFin" formControlName="fechaFin">
                <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                <mat-datepicker #fechaFin></mat-datepicker>
            </mat-form-field>
        
            <mat-form-field class="col-md-6">
                <mat-label>Profesor</mat-label>
                <input matInput formControlName="profesor">
            </mat-form-field>

            <div class="col-md-6">
                <mat-slide-toggle formControlName="inscripcionAbierta">Inscripcion abierta</mat-slide-toggle>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button matDialogClose mat-button-button>Cerrar</button>
    <button mat-raised-button color="primary" (click)="editarCurso()">Editar</button>
</div> -->


 

<div class="container">
    <app-toolbar></app-toolbar>
    <mat-toolbar >
        <h1 class="title" > Editar Alumno </h1>
    </mat-toolbar>
    
    <form [formGroup]="form" (ngSubmit)="updateCurso()" class="form mt-4">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Cod</mat-label>
                 <input matInput autocomplete="off" formControlName="cod">
            </mat-form-field >
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                 <input matInput autocomplete="off" formControlName="nombre">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Comision</mat-label>
                 <input matInput autocomplete="off" formControlName="comision">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Profesor</mat-label>
                 <input matInput autocomplete="off" formControlName="profesor">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Disponibilidad</mat-label>
                 <input matInput autocomplete="off" formControlName="disponibilidad">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>FechaInicio</mat-label>
                 <input matInput autocomplete="off" formControlName="fechaInicio">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>fechaFin</mat-label>
                 <input matInput autocomplete="off" formControlName="fechaFin">
            </mat-form-field>
        </div>

        <div id="btn-alumno">
            <button type="submit" mat-fab extended color="primary" class="agregar mt-4" >
                <mat-icon>done</mat-icon>
                Aceptar
              </button>
              <button type="reset" routerLink="/dashboard/cursos" mat-fab extended color="warn" class="agregar mt-4" >
                <mat-icon>clear</mat-icon>
                Cancelar
              </button>
            </div>
        
    </form>

</div>