.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #f5f5f5;
}

.login{
    width: 100%;
    max-width: 300px;
    text-align:center;
    // padding: 15px;
    // margin: auto;
}

.width{
    width: 80%;
}

img{
    width: 70%;
}

.height{
    height: 50px;
}

