  table {
      width: 100%;
      margin-top: 8px;
    }

  // app-navbar {
  //  margin-right: 100px;

  // }

// th {
//   width: 20%;
  
// }

.acciones {
  cursor: pointer;
}

.agregar{
  float: right;
}